<div class = "body">
  <header class="text-center">
    <h1>My To do list</h1>
  </header>

  <form>

    <input type="text" class="form-control" placeholder="Enter a name of task" name="event" [(ngModel)]="event">

    <p>Select the date and time of task</p>
    <input type="datetime-local" class="form-control" id="tasktime" [(ngModel)]="time" name="time">

    <br>
    <br>

    <button type="button" class="btn btn-success" (click)="saveEvent()">Save Task</button>
  </form>

  <div class="event mt-20">
    <ul class="event list-card">
      <li class="list-item-card pt-10" *ngFor="let event of events;let i=index" [class.completed]="event.completed">
        <div class="view">
          <input class="toggle mr-10" type="checkbox" (click)="toggleTodoComplete(i)" [checked]="event.completed">
          <label class="mr-10">{{event.name}}</label>
          <span *ngIf="countDownTimes[i]">
                    <button class="btn btn-primary mr-10">
                      {{countDownTimes[i]?.days + 'days'}}
                      {{countDownTimes[i]?.hours + 'hours'}}
                      {{countDownTimes[i]?.minutes + 'minutes'}}
                      {{countDownTimes[i]?.seconds + 'seconds'}}</button>
                </span>
          <button class="btn btn-danger delete mr-10" (click)="removeTodo(i)">Delete</button>
        </div>
      </li>
    </ul>
  </div>
</div>
